html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
 
body {
  line-height: 1;
}
 
ol, ul {
  list-style: none;
}
 
blockquote, q {
  quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
 
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------*/
/*--------------------*/

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  margin: 0;
  padding-left: 10px;
  background: #f4f4f4 url(client/bootstrap/img/background.png);
}

h1 {
  font-size: 30px;
  font-weight: bold;
  width: 15%;
}

#name {
}

#target-select {
  width: 250px;
  margin-left: 308px;
}

#source-select {
  width: 250px;
}

.text, .textEntry {
  clear: left;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}


#left-entry {
  clear: left;
  float: left;
  width: 500px;
}

#right-entry {
  float: left;
  width: 500px;
  margin-left: 50px;
}

#messages {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 500px;
  height: 400px;
  overflow: auto;
  background-color: white;
}

#translations {
  float: left;
  width: 500px;
  height: 400px;
  overflow: auto;
  margin-left: 50px;
  background-color: white;
}

#messages p, #translations p {
  margin-bottom: 10px;
  line-height: 1.2
}

textarea {
  resize: none;
  width: 100%;
}

.boxsizingBorder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
